{%extends 'base.html.twig' %}

{%block titrePage%}
Liste des stages pour l'entreprise: {{entreprise}}
{%endblock%}

{%block contenuPage%}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Titre du stage</th>
      <th scope="col">Formations concernée</th>
      <th scope="col">entreprise</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
{%for stage in stages%}
    <tr class="table-secondary">
      <th scope="row"> <a href="{{path('pro_stage_stage', {id: stage.id})}}"> {{stage.titre}} </a></th>
      <td>
        {% for formation in stage.formations %}
        {{formation.nomCourt}}
        {% if loop.index!= loop.last %}
        ,
        {% endif %}
        {%endfor%}.
      </td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>

{%endfor%}

  </tbody>
</table>


{%endblock%}
